@using Aspose.Cells.GridWeb
@addTagHelper *, Aspose.Cells.GridWeb
@model GridWeb

<!DOCTYPE html>
<html>
<head>
    <link href="~/acw_client/menu.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>GridWeb Cache Repro</h1>
    <script src="~/acw_client/acwmain.js" asp-append-version="true"></script>
    <script src="~/acw_client/lang_en.js" asp-append-version="true"></script>
    <GridWebDiv mw=Model></GridWebDiv>
</body>
</html>